apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-manager
  labels:
    app: storage-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: storage-manager
  template:
    metadata:
      labels:
        app: storage-manager
    spec:
      containers:
        - name: storage-manager
          image: siddik00/storage-manager:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
